html {
  scroll-behavior: smooth;
  height: 100%;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
  background: #424242;
}

.header-image {
  /* Use "linear-gradient" to add a darken background effect to the image.
  This will make the text easier to read*/
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/covid_se.png");
  
  /* Set a specific height */
  height: 50%;

  /* Position and centre the image to scale nicely on all screens */
  margin-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

#bd{
  min-height:100vh;
}

.search-box:hover > .search-txt{
  width:240px; 
  padding:0 6px;
}

.search-box:hover > .search-btn{
  background: white;
}

.search-box{
  position: absolute;
  top:80%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height:100px;
  border-radius:60px;
  padding:20px;
}

.search-btn{
  color: #e84118;
  float: right;
  width: 60px;
  height: 60px;
  border-radius:50%;
  background: #2f3640;
  display:flex;
  justify-content: center;
  align-items:center;
  transition:0.4s;
  border-style: none;
}

.search-txt{
  border:none;
  background:none;
  outline: none;
  float:left;
  color:white;
  font-size:24px;
  transition:0.4s;
  line-height: 60px;
  width:0px;
}


footer {
  background-color:#BDBDBD;
  position: relative;
  height: 2.5rem;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.sml-foot {
  font-size: 10px;
}

p{
  padding: 5px 5px;
  position: relative;
  margin-bottom: 0;
}



.search input{
  margin-left: 30px;
  width:100%;
  height:38px;
  border:1px solid #dcdcdc;
}

.search i{
width:100%;
height:100%;
display: flex;
vertical-align: middle;
} 

.contentBox {
  margin: 0 auto 60px;
  width: 1000px;
  flex: 1;
  
}

.menuTypeList {
  padding-top:30px;
  padding-bottom: 30px;
  float: left;
  width: 1000px;
  padding-right: 30px;
  background: #fff;
  min-height: 100vh;
  margin-bottom: 5px;
}
.clearfix:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menuTypeList .boxcontainer {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 30px;

  border: 1px solid #424242;
}
.menuTypeList .boxcontainer:hover{

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuTypeList .boxcontainer .searchbox {
width:auto;
height:45px;
vertical-align: center;

}
.menuTypeList .searchtxt{
/*width:90%;*/
width: calc(100% - 278px);
border:none;
/*padding: 0px 10px;*/
padding: 5px;
color:#424242;
display: flex;
font-size: 18pt;
display: inline-block !important;
}

.menuTypeList .clear,.searchbtn{
float: right;
color:black;
width: 45px;
height: 45px;
border-radius:10px;
display:flex;
justify-content: center;
align-items:center;
background-color: white;
border-style: none;
display: inline-flex !important;
}

.menuTypeList .searchbtn :hover, .clear:hover{
color:#55acee
}
.menuTypeList .searchtxt:focus{
outline: none;
}
.menuTypeList .dropdown-menu li:hover{
  background-color:#55acee;
  cursor: pointer;  
}

.menuTypeList button:focus, .searchbtn :focus, .clear:focus{
  box-shadow: none;
  }

.menuTypeList .finalresult {
    position: relative;
    font-size: 20px;
    padding-left:40px;
    margin-bottom:10px;
    text-align: left;
    color:#424242;
  }
.typeSwitch {
  margin-bottom: 38px;
}

.typeSwitch .diff {
  color: #fc5a34;
  padding: 0 10px 0 0;
  border-right: 1px solid #000;
}

.typeSwitch a {
  padding-left: 10px;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
}

.menuList li {
  border: 1px solid #e8e8e8;
  list-style: none;
  border-radius: 15px;
}

/* .menuList li .listImg {
  float: left;
  width: 230px;
  height: 230px;
  display:flex;
align-items:center; 
justify-content:center;
}

.menuList li .listImg img {
  width: 100%;
  height: auto;
} */

.listDetails {
  float: left;
  padding: 27px;
  width: calc(100% - 10px);
}

.listDetails h2 {
  padding-left:5px;
  font-size: 20px;
  margin-bottom: 5px;
}

.listDetails a {
margin-bottom: 5px;
font-size: 18px;
color: black;
}
.listDetails a:hover {
cursor: pointer;
}
.listDetails p {
  margin-bottom: 5px;
  font-size: 15px;
}

.listDetails span {
  font-size: 13px;
}
.listDetails .score {
  font-size: 15px;
  color: #a6784c;
}


.listDetails .time {
  float: right;
}


.paging {
  text-align: center;
}

.paging span {
  margin: 0 20px;
  cursor: pointer;
}

.paging a {
  display: inline-block;
  min-width: 20px;
  line-height: 27px;
  color: #fc5a34;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.paging .activate {
  color: #fff;
  background: #fc5a34;
}

.paging .nextPage {
  color: #fc5a34;
}

/* styles for About and Contact pages*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.fa {
  font-size: 14px;
  margin-right: 5px
}
.row-first {
  margin-bottom: 10px;
  margin-top: 8px
}

.a {
  transition: all .3s ease;
}

.contact a{
  border-radius:2px;
  display:block;
  background-color:rgba(255,255,255,0.25);
  font-size: 14px;
  text-align: center;
  color:#fff;
  padding: 7px
}
.contact a:hover{background-color:rgba(255,255,255,0.85);text-decoration:none}

.contact a.github:hover, .fa-github{color:#6cc644}

