{% extends "layout.html" %}

{% block head %}
    <title>TTDS Group 2 Search</title>
{% endblock %}

{% block content %}
    <!-- Header Image -->
    <div class="header-image"></div>


    <!-- Main Search Button-->
    <div class="container">
        <div id="bd">
            <form action="#" method="POST">
                <div class="search-box">
                    <input class="search-txt" type="text" name="txt" placeholder="Search">
                    <button type="submit" class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    

{% endblock %}