<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block head %}

{% endblock %}

    <!-- link to Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- link to fontawesome kit-->
    <script src="https://kit.fontawesome.com/68f7541383.js" crossorigin="anonymous"></script>

    <!-- link to our custom CSS-->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='ttds_style.css')}}">

  </head>
  <body>
        <!-- NavBar -->
        <div class="fixed-top">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                  <a class="navbar-brand" href="{{url_for('home')}}">TTDS Project (Group 2)</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                          <li class="nav-item active">
                              <a class="nav-link" href="{{url_for('home')}}">Home</a>  
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href=#>About</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href=#>Help</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href=#>Contact</a>
                          </li> 
                      </ul>
                  </div>
              </div>
          </nav>
      </div>
  
    {% block content %}
    {% endblock %}




    <!-- Footer-->
    <footer>
        <p> TTDS Group Project (Group_ID=2) 2021</p>
    </footer>

    <script src="{{ url_for('static', filename='ttds.js')}}"></script>
    <!--bootstrap JS files-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- <script src="{{ url_for('static', filename='ttds.js')}}"></script> -->
  </body>
</html>