html {
    scroll-behavior: smooth;
    height: 100%;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    background: #424242;
}

.header-image {
    /* Use "linear-gradient" to add a darken background effect to the image.
    This will make the text easier to read*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url("images/header.png");
    
    /* Set a specific height */
    height: 50%;

    /* Position and centre the image to scale nicely on all screens */
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

#bd{
    margin:200px auto 80px;
}

.search-box:hover > .search-txt{
    width:240px; 
    padding:0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}

.search-box{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height:100px;
    border-radius:60px;
    padding:20px;
}

.search-btn{
    color: #e84118;
    float: right;
    width: 60px;
    height: 60px;
    border-radius:50%;
    background: #2f3640;
    display:flex;
    justify-content: center;
    align-items:center;
    transition:0.4s;
    border-style: none;
}

.search-txt{
    border:none;
    background:none;
    outline: none;
    float:left;
    color:white;
    font-size:24px;
    transition:0.4s;
    line-height: 60px;
    width:0px;
}


footer {
    background-color:#BDBDBD;
    position: relative;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
}
.main{
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    color:white;
    background-color: #424242;

}
.main h1{
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
}
section{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    position: relative;
    background-color: #2f3640;
    padding: 5px 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    
}
section:hover{
    transform: translate(5px,-5px);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}
p{
    padding: 5px 5px;
    position: relative;
    margin-bottom: 0;
}
.main section ul {
    margin-bottom: 0;
    padding-right: 0;
}
.main section ul li{
    display: inline;
    padding: 0px 50px;

}
.main section ul li a{
    text-decoration: none;
    color: white;
}
.main section ul li i{
    margin-right: 10px;
}
.main section ul li a:hover{
    color: #55acee;
}
.main section ul li input{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.main section ul li input:checked ~ i{
    color: #fe025b;
}
.main section ul li label:hover{
    color: #fe025b;
}

.search input{
    margin-left: 30px;
    width:350px;
    height:38px;
    border:1px solid #dcdcdc;
}

.search .search-btn2{
    width:70px;
    height:38px;
} 

.contentBox {
    margin: 0 auto 60px;
    width: 1000px;
    flex: 1;
}

.menuTypeList {
    margin-right: 20px;
    float: left;
    width: 1000px;
    padding: 28px 38px 56px 38px;
    background: #fff;
  }

.menuTypeList h3 {
  position: relative;
  font-size: 24;
  margin-bottom: 20px;
}
.menuTypeList #finalresult {
  position: relative;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom:16px;
  text-align: center;
}


.typeSwitch {
    margin-bottom: 38px;
  }

.typeSwitch .diff {
    color: #fc5a34;
    padding: 0 10px 0 0;
    border-right: 1px solid #000;
  }

.typeSwitch a {
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
    line-height: 20px;
  }

.menuList li {
    margin-bottom: 30px;
    align-items: center;
    width: 100%;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    list-style: none;
  }

/* .menuList li .listImg {
    float: left;
    width: 230px;
    height: 230px;
    display:flex;
	align-items:center; 
	justify-content:center;
  }

.menuList li .listImg img {
    width: 100%;
    height: auto;
  } */

.listDetails {
    float: left;
    padding: 27px;
    width: calc(100% - 10px);
  }

.listDetails h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }

.listDetails p {
    margin-bottom: 5px;
    font-size: 15px;
  }

.listDetails span {
    font-size: 13px;
  }

.listDetails .author {
    color: #a6784c;
  }

.listDetails .time {
    float: right;
  }


.paging {
    text-align: center;
  }

.paging span {
    margin: 0 20px;
    cursor: pointer;
  }

.paging a {
    display: inline-block;
    min-width: 20px;
    line-height: 27px;
    color: #fc5a34;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }

.paging .activate {
    color: #fff;
    background: #fc5a34;
  }

.paging .nextPage {
    color: #fc5a34;
  }

